<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        .content {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px auto;
            max-width: 900px;
        }
        .form-group label {
            font-weight: bold;
        }
        .btn-primary {
            background-color: #007bff;
            border: none;
            width: auto;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
        .table-container {
            max-width: 100%;
            overflow-x: auto;
        }
        .table {
            width: 100%;
        }

    </style>
</head>
<body>
<div class="header">
    <h2>Yeni Başvuru</h2>
</div>
<div class="container">
    <div class="content">
        <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert"></div>
        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>

        <form th:object="${modelOfApplication}" th:action="@{/home}" th:method="POST">
            <div class="form-group">
                <label for="exampleInputId">Id</label>
                <input th:field="*{id}" type="text" class="form-control" id="exampleInputId" placeholder="ID">
            </div>
            <div class="form-group">
                <label for="exampleInputName">İsminiz</label>
                <input th:field="*{name}" type="text" class="form-control" id="exampleInputName" placeholder="İsminiz">
            </div>
            <div class="form-group">
                <label for="exampleInputIdentityNumber">TC Kimlik Numaranız</label>
                <input th:field="*{identityNumber}" type="text" class="form-control" id="exampleInputIdentityNumber" placeholder="TC Kimlik Numaranız">
            </div>
            <div class="form-group">
                <label for="exampleInputAddress">Adres</label>
                <input th:field="*{address}" type="text" class="form-control" id="exampleInputAddress" placeholder="Adresiniz">
            </div>
            <div class="form-group">
                <label for="exampleInputPhoneNumber">Telefon Numarası</label>
                <input th:field="*{phoneNumber}" type="tel" class="form-control" id="exampleInputPhoneNumber" placeholder="Telefon Numaranız" oninput="validatePhoneNumber(this)">
                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail">Email</label>
                <input th:field="*{email}" type="email" class="form-control" id="exampleInputEmail" placeholder="Emailiniz" oninput="validateEmail(this)">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputBirthDate">Doğum Tarihi</label>
                <input th:field="*{birthDate}" type="date" class="form-control" id="exampleInputBirthDate">
            </div>
            <div class="form-group">
                <label for="exampleInputExperience">Daha önce perakende satışı deneyiminiz var mı?</label>
                <input th:field="*{hasExperience}" type="checkbox" class="form-control" id="exampleInputExperience">
            </div>
            <div class="form-group">
                <label for="exampleInputChoosingReason">Lokumcu Baba'yı Tercih Etme Sebebiniz Nedir?</label>
                <textarea th:field="*{choosingReason}" class="form-control" id="exampleInputChoosingReason" placeholder="Seçim nedeninizi açıklayın"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputSelectedLocation">Seçtiğiniz Konum:</label>
                <select th:field="*{selectedLocation}" class="form-control" id="exampleInputSelectedLocation">
                    <option value="Option1">Seçenek 1</option>
                    <option value="Option2">Seçenek 2</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputAmount">Yatırım Miktarınız Ne Kadar?</label>
                <input th:field="*{amount}" type="text" class="form-control" id="exampleInputAmount" placeholder="Miktar">
            </div>
            <div class="form-group">
                <label for="exampleInputAdditionalNotes">Eklemek İstedikleriniz</label>
                <textarea th:field="*{additionalNotes}" class="form-control" id="exampleInputAdditionalNotes" placeholder="Ek notlarınızı ekleyin"></textarea>
            </div>

            <div class="container">

                <button type="submit" class="btn btn-primary">Başvuruyu tamamla, kaydet</button>
                <a th:href="@{/getall}" class="btn btn-primary">Tüm başvuruları görüntüle</a>

            </div>

        </form>
    </div>
</div>
</body>
<script>
    function validatePhoneNumber(input) {
        var phoneNumber = input.value.replace(/\D/g, ''); // Sadece rakamları al
        var phoneNumberPattern = /^\d{10}$/; // 10 haneli sayı kabul edelim

        if (phoneNumberPattern.test(phoneNumber)) {
            input.setCustomValidity(''); // Geçerli telefon numarası
        } else {
            input.setCustomValidity('Lütfen 10 haneli bir telefon numarası girin.');
        }
    }
</script>
<script>
    function validateEmail(input) {
        var email = input.value;
        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if (emailPattern.test(email)) {
            input.setCustomValidity(''); // Geçerli e-posta adresi
        } else {
            input.setCustomValidity('Lütfen geçerli bir email adresi girin.');
        }
    }
</script>
</html>
